body {
    font-family: 'Arial', sans-serif;
}

.intro {
    height: 100vh;
    background: url('../img/imagemfundo.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    position: relative;
}

.intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); 
}


.intro .container {
    position: relative;
    z-index: 1;
}

.services {
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 20px;
}

.service-item i {
    color: #007bff;
}
p a:link {
  text-decoration: none;
  color: gray;
}

p a:visited {
  text-decoration: none;
  color: white;
}






footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
}
